- @title = "My movies"
%h1 My movies
= link_to "Home", root_path, class: "btn btn-primary"
%br
= "Showing #{@movies.total_entries} results"
%table.table.table-striped.table-bordered
  %tr
    %th Title
    %th Year
    %th Format
    %th Loanee
    %th Action
  = render partial: 'movies/table', collection: @movies, as: :m